<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>密码修改</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<form name="loginForm" id="loginForm" method="post"  style="width:50%; margin:0 auto">
    <h4 style="text-align:center; margin-bottom: 20px">密码修改</h4>
    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">用户名: </label>
            <label class="form-label col-md-4" th:text = "${user.userName}"></label>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">原密码:</label>
            <div class="col-md-5">
                <input id="oldPassword" name="oldPassword" type="password"  class="form-control"  placeholder="原密码"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">新密码:</label>
            <div class="col-md-5">
                <input id="newPassword" name="newPassword"  type="password"  class="form-control"  placeholder="新密码"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">确认新密码:</label>
            <div class="col-md-5">
                <input id="confirmPassword" name="confirmPassword" type="password"  class="form-control"  placeholder="确认新密码"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <button class="btn btn-primary btn-block" type="button"  onclick= "updatePassword()">确认</button>
        </div>
        <div class="col-md-5">
            <button class="btn btn-primary btn-block"  type="button" onclick="javascript:history.back(-2);">返回</button>
        </div>
    </div>
</form>
</body>
<script>
    function updatePassword(){
        var newPassword = $("#newPassword").val();
        var confirmPassword = $("#confirmPassword").val();
        var oldPassword =$("#oldPassword").val();
        var  confirm = window.confirm("确定修改密码吗");
        if (confirm == false) {
            return;
        }
        if (confirmPassword != newPassword) {
            alert ("输入的两次新密码不一致");
            return;
        }
        $.ajax({
            url: "/user/updatePassword",
            type: "POST",
            data:{
                oldPassword:oldPassword,
                newPassword:newPassword,
            },
            success:function(data){
                if (data.code == 0) {
                    alert("修改密码成功");
                    layer.msg("修改密码成功");
                    window.location.href="/user/userList";
                }else{
                    layer.msg(data.msg);
                }
            },
            error:function(){
                layer.msg("修改密码失败，客户端请求错误");
            }
        });
    }
</script>
</html>
